aenum==2.1.2
Click==7.0
dnspython==1.16.0
dse-driver==2.9.0
dse-graph==1.7.0
geomet==0.1.2
gremlinpython==3.3.4
grpcio==1.21.1
kafka-python==1.4.6
nltk==3.4.5
protobuf==3.8.0
six==1.12.0
sortedcontainers==2.1.0
time-uuid==0.2.0
tornado==4.5.3
urllib3==1.25.3
validate-email==1.3
